.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 28px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 20px;
  margin-left: 10px;
  position: absolute;
  left: 10px;
  top: 10px; /* só pra posicionar verticalmente */
}

.menu-btn span {
  display: block;
  height: 2px; /*espessura do traço*/
  background-color: #000;
  border-radius: 2px;
}