.carrosel {
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
  height: auto;
  scroll-behavior: smooth;
  background-color: beige;
}

.faixa {
  display: inline-flex;
  gap: 20px;
  height: auto;

}

.livro-destaque {
  display: flex;
  flex: 0 0 auto;
  width: 400px;
  height: 180px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.livro-destaque img {
  width: 120px;
  height: 100%;
  object-fit: cover;
}

.info-livro {
  height: auto;
  overflow: visible;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.info-livro h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.mensagem {
  margin: 5px 0;
  font-size: 14px;
  color: #e63946;
  font-weight: bold;
}

.aviso {
  font-size: 18px;
  color: #333;
  margin-top: 80px;
}

.preco {
  font-size: 1.2rem;
  color: #27ae60;
  font-weight: bold;
  margin-top: 0.5rem;
}

.banner {
  display: flex;
  flex: 0 0 auto;
  background-image: url(/assets/banana\ fish.jpg);
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 180px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

}

/* .banner-imagem { */
  width: 2000px;
  height: 200px;
  overflow: hidden;

}

/* .banner-imagem img { */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

