.topo {
  /* border: solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  z-index: 1000;
  cursor: pointer;
  position: fixed;
  /* background-color: white; */


}

.nome-livraria {
  font-size: 40px;
  font-weight: 400;
  color: gray;
  margin-left: 80px;
  margin-bottom: 30px;
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}